NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

VIPPS_CLIENT_ID=
VIPPS_CLIENT_SECRET=
VIPPS_SUBSCRIPTION_KEY=
VIPPS_MSN=
VIPPS_API_URL=https://apitest.vipps.no

RESEND_API_KEY=
EMAIL_FROM=booking@sauna.bondep.com

NEXT_PUBLIC_BASE_URL=http://localhost:3000

CRON_SECRET=
